.contenedorTexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
 }
.titulo{
    font-size: 25px;

    color: #E75480;
}
.texto{
    display: flex;
     text-align: center;
    font-size: 25px;
    padding-bottom: 5rem;
}

.btn{

    background-color: #fcb3c2;
    color: black;
    border: 2px solid #fcb3c2;
    position: relative;
    margin: 15px;
    width: 12rem;
    padding: 7px;
    border-radius: 10px;
  }

.btn::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fcb3c2;
    transition: width 0.3s ease;
    z-index: -1;
  }
  
.btn:hover::after {
    width: 100%;
  }
  
.btn:hover {
    color: white;
     border: 2px solid #fcb3c2;
    position: relative;
    margin: 15px;
    width: 12rem;
  }