.general{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texto{
    text-align: center;
  }
.texto h1{
    margin: 20px;
    color:#FF6984;
}
.texto span{
    color: gray;
    margin: 20px;
    font-size: 20px;
}

.hojaParaEscribir{
    border: 1px solid red;
    width: 500px;
    border-radius: 30px;
    height: 500px; 
}
.hojaParaEscribir textarea{
    font-size: 25px;
     width: 100%;
    height: 100%;
   border: none;
   border-radius: 30px;
   outline: none;
   background: url('../img/fondos/HojaDeNotas/hojaPredeterminada.jpg');
   background-size: cover;
   background-repeat: no-repeat;    
}
