 .loginGeneral{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 
 .contenedorForm{
    text-align: center;
    border: 1px solid rgba(132, 132, 132, 0.56);
    backdrop-filter: blur(10px);
    margin: 10px;
    color: black;
    width: 450px;
    border-radius: 30px;
    height: auto; 
    padding: 40px; 
 }
 .contenedor{
    display: flex;
    flex-direction: column;
    align-items: flex-start;     
    margin: 30px 0;
    width: 100%;
    height: 50px;
  }
  .contenedor.Comentario{
    height: 100px;
 
  }
  
 .contenedor input{
    background: transparent;
    padding: 5px;
    width: 100%;
    height: 100%;
    border: none;
    outline-color: pink;
    border: 1px solid white;
    border-radius: 40px;
}

.contenedor textarea{
   
    background: transparent;
    padding: 5px;
    width: 100%;
    height: 100px;
    border: none;
    outline-color: pink;
    border: 1px solid white;
    border-radius: 10px;
}
 
.btn {
    display: block;            
    margin: 25px auto 0; 
    background-color: #fcb3c2;
    color: black;
    border: 2px solid #fcb3c2;
    position: relative;
     width: 100%;
  }
  
  .btn::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fcb3c2;
    transition: width 0.3s ease;
    z-index: -1;
  }
  
  .btn:hover::after {
    width: 100%;
  }
  
  .btn:hover {
    color: white;
     border: 2px solid #fcb3c2;
    position: relative;
     width: 100%;

  }
 
 @media screen and (min-width: 576px){
    .contenedorForm{
    width: 432px;
    }
 }