footer{
     height: auto;
    width: auto;
    background-color: #ff80b58c;
}
.contenedorFooter{
  width: auto;
  height: auto;
  display: flex;
   justify-content:space-around;
  align-items:center;
  text-align: center;
}
.contenedorRedes{
  display: flex;
  flex-wrap: wrap;

}
.redes{
  color: rgb(52, 15, 72);
  padding:15px;
}
.redes:hover{
  transition: 0.6s all;
  color: rgb(255, 25, 236);
}