<link rel="stylesheet" href="css/home.css">
<div class="contenedor ">
    <h1 class="tituloh1">Tus ideas <br> florecen <br> acá</h1>

    <span class="subtitulo">Ánota lo que pensas,Organiza tus dias <br>
    y deja que florezca tus ideas </span>

    <div class="contenedorBTN">
      <div class="contenedorindividual">
       <div class="contenedorTexto">
        <span>Notas personales</span>
       </div>
       <span class="textoBTN">"Guarda tus pensamientos"</span>

       <a href="notas_personales.php">
        <button class="btn">Abrir</button>
       </a>

      </div>

       <div class="contenedorindividual">
       <div class="contenedorTexto">
        <span>Tareas</span>
       </div>
       <span class="textoBTN">"Organiza tus pendientes"</span>
      <a href="list_to_do.php" style="color:pink"> 
        <button class="btn">
          Ver lista
        </button>
      </a>

      </div> 
      
       <div class="contenedorindividual">
       <div class="contenedorTexto">
        <span>Inspiracion</span>
       </div>
       <span class="textoBTN">"Inspirate todos los dias"</span>
       <a href="inspiracion.php">
        <button class="btn">Ver frases</button>
         <!-- agregar pagina de blog aparte en el views-->
       </a>

      </div>
       
     </div>
 
</div>