<link rel="stylesheet" href="css/inspiracion.css">
<script src="js/inspiracion/citas.js" defer > </script>
<script src="js/inspiracion/app_citas.js" defer > </script>


<section class="general">
    <div class="contenedorInspiracion">
        <h1>Inspiración</h1>

        <div class="fondo_contenedor">
            <div class="contenido-centrado">
                <p id="cita">LORE</p>
                <p id="autor">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quod soluta voluptas repellat earum assumenda cum modi vero nihil, nobis in? Consectetur nisi aliquam dolor numquam corrupti, animi quaerat dolorum!</p>
            </div>     
                
        </div>  
        <button class="btn" id="boton-cambiar-cita">cambiar</button>    
    </div>
</section>
