<link rel="stylesheet" href="css/list_to_do.css">

<section class="general">
     <div class="contenedortitulo">
        <h1>Organiza tus pendientes</h1>
     </div>    
 
     <div class="contenedor-lista">
          <ul class="lista">
            <li>tarea 1</li>
            <li>tarea 2</li>
            <li>tarea 3</li>
            <li>tarea 4</li>
            <li>tarea 5</li>
          </ul>
           
          <div class="contenedorBTN">
              <input type="text" class="input-text">
              <button class="btn">Añadir</button>
           </div>
     </div>

</section>