<link rel="stylesheet" href="css/list_to_do.css">
<script src="js/list_to_do.js" defer> </script>

<section class="general">
     <div class="contenedortitulo">
        <h1>Organiza tus pendientes</h1>
     </div>    
 
     <div class="contenedor-lista">
          <ul class="lista">
           
          </ul>
           
          <div class="contenedorBTN">
              <input type="text" class="input-text" placeholder="escribe una tarea">
              <button class="btn">Añadir</button>
           </div>
     </div>

</section>