 
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a href="index.php" class="pe-13">
    <img src="img/iconos/rosa.png" alt="Logo" width="50" height="50" class="logo">
   </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index.php">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="about_us.php">Sobre nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="blog.php">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="contact.php">Contacto</a>
        </li>
      </ul>
           <!-- por el momento no lo vamos a usar en este<div class="botones">
            <a href="soportePrincipal.php" class="btn">Iniciar Sesión</a>
            <a href="logout.php" class="btn">Registrate</a>
          </div> -->
    </div>
 
  </div>
</nav>